body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.delete-label {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) {
  .app {
    padding: 20px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) {
  .app {
    padding: 50px;
  }
}

@media only screen and (min-width : 1024px) {
  .app {
    padding: 100px;
  }
}